@mixin slider($orient, $track_color, $filled_color, $buffer_color) {
  position: relative;
  cursor: pointer;
  &__track {
    position: absolute;

    @if $orient == 'vert' {
      top: 0;
      left: 50%;
      width: 6px;
      height: 100%;
      margin-left: -3px;
    } @else {
      top: 50%;
      left: 0;
      width: 100%;
      height: 6px;
      margin-top: -3px;
    }

    border-radius: 3px;
    background-color: $track_color;
  }

  &__filled {
    position: absolute;

    @if $orient == 'vert' {
      bottom: 0;
      width: 6px;
      height: 0%;
    } @else {
      width: 0%;
      height: 6px;
    }

    border-radius: 3px;
    background-color: $filled_color;
  }

  &__handle {
    position: absolute;
    
    @if $orient == 'vert' {
      top: -8px;
      right: -5px;
    } @else {
      top: -5px;
      right: -8px;
    }

    z-index: 2;
    display: block;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 1px solid rgba(151, 151, 151, 0.25);
    border-radius: 9px;
    background: #FFFFFF;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    outline: none;
  }

  &__buffer {
    z-index: 2;

    @if $orient == 'vert' {
      width: 100%;
    } @else {
      height: 100%;
    }

    background-color: $track_color//#a5a5a5;
  }
}