{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "no-unused-vars": "off",
    "no-underscore-dangle": [2, { "allowAfterThis": true }],
    "consistent-return": "off"
  }
}